<h1>Add Forum</h1>
<%= form_for :forum, url: forum_path do |f| %>
  <%if @forum.errors.any? %>
    <% @forum.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-secondary'}) %>
  </p>
<% end %>
