<h1>New Lobby Request</h1>

<%= form_for :lobby_request, url: lobby_requests_path do |f| %>
  <%if @lobby_request.errors.any? %>
    <% @lobby_request.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= f.label :game %><br>
    <%= f.text_field(:game, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-secondary'}) %>
  </p>
<% end %>
